.form-control{
    z-index: 0	 !important;
    height: 36px !important;
}
.form-control[aria-autocomplete]{
    height: 34px !important;
}
.input-control-height{

}
body {
    background-color: white;
}

#search-box-div p, #search-box-div label, #search-box-div h1 {
    color: #fff;
}

#search-box-div h1 {
    display: flex;
    justify-content: center;
    font-size: 4em;
    margin-bottom: 40px;
    margin-top: 30px;
}
#save-success label {
    display: flex;
    justify-content: center;
    color: #42f495;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 0px;
}
#save-failed label{
    display: flex;
    justify-content: center;
    color: #f9452c;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 0px;
}
#login-failed label{
	display: flex;
    justify-content: center;
    color: #f9452c;
    font-size: 1em;
    margin-bottom: 5px;
    margin-top: 0px;	
}

.navbar a {
    color: #847e80;
}

.navbar a:hover, .navbar a:active {
    color: #514e51;
    text-decoration: none;
}

#search-box-div label {
    margin-top: 3px;
}

#backgroundimage {
    left: 0;
    margin: 0;
    height: 100%;
    min-width: 674px;
    padding: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -1;
}

.errMessage {
    color: #ff3500;
    margin-left: 15px;
}

.your-price {
    font-size: 3em;
}

.full-price {
    text-decoration: line-through;
}

#bg {
    position: fixed;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    z-index: -1;
}

#bg img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
}

.searchWell {
    background-color: rgba(255, 255, 255, .85);
}

.searchWell:hover {
    background-color: rgba(80, 186, 250, .85);
    cursor: pointer;
}

.defaultLink {
    color: black;
    text-decoration: none;
}

.defaultLink:hover {
    color: black;
    text-decoration: none;
}

.white-text {
    color: white;
}
.subtitle{
    font-size: large;
}
.subtitle-large{
    font-size: x-large;
}
.autoCompleteStyling{
    border-radius: 12px;
}
.autoStyle{
    width: 100%;
    border-radius: 0px;
    margin-bottom: -5px;

}
.autoInputStyle{
    width: 100%;
    border-radius: 0px;
    margin: 0;
}

